* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    display: flex;
    align-items: center;
    padding: 0px 0.5px 0px 10px;
}

.background {
    background-image: url(img/5.Fondo/1.png);
    background-size: auto;
    background-position: bottom;
    height: 100vh;
    width: 100%;
}

.stop-scrolling {
    overflow: hidden;
    height: 100vh;
}

.d-none {
    display: none;
}

.div-imagesOrigin {
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.btn-startGame {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    margin: auto;
    border-radius: 10px;
    background-color: #B92E2E;
    color: white;
    width: 200px;
    height: 75px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    box-shadow: inset -5px -5px 5px rgb(0 0 0 / 15%), inset 5px 5px 5px rgb(255 255 255 / 50%);
    animation: startGame-btn 1.7s ease infinite;
    outline: none;
    cursor: pointer;
}

.btn-startGame:hover {
    background-color: #c54040;
}

@keyframes startGame-btn {
    50% {
        transform: scale(1.1, 1.1);
    }
}

.div-description {
    background-color: #994409;
    width: 720px;
    height: 525px;
    border-radius: 10px !important;
    color: white;
    position: relative;
}

.img-fullscreen {
    height: 25px;
    width: 25px;
    padding: 5px 10px;
    filter: invert(100);
    cursor: pointer;
}

.div-key {
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 30px;
    width: 30px;
}

.div-keySpace {
    width: 100px;
}

.div-canvas {
    border-radius: 10px;
}

.img-audio {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    margin: 10px 5px;
}

.img-music {
    position: absolute;
    top: 10px;
    right: 50px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    margin: 10px 5px;
}

.img-startScreen {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: 1;
}

.img-gameOver {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    animation: img-gameOver 1.7s ease infinite;
}

.img-gameLost {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    animation: img-gameLost 1.7s ease infinite;
}

@keyframes img-gameLost {
    50% {
        transform: scale(1.1, 1.1);
    }
}

@keyframes img-gameOver {
    50% {
        transform: scale(1.1, 1.1);
    }
}